pandas==2.3.3
numpy==2.3.5
openai==2.15.0
PyMySQL==1.1.2
SQLAlchemy==2.0.44
akshare==1.18.21
streamlit==1.54.0
plotly==6.4.0
fastapi==0.121.3
uvicorn==0.38.0
pydantic==2.12.4
requests==2.32.5
python-dateutil==2.9.0.post0
