__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.git/
.gitignore
.vscode/
data_layer/__pycache__/
llm_layer/__pycache__/
interactive_layer/__pycache__/
frontend_layer/__pycache__/
*.xlsx
*.db
